.cartHeader {
  margin: 10px;
}

.productsSection {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: row; /* Adjusted to row */
  flex-wrap: wrap;
  gap: var(--spacing-4);
}

.productList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  gap: var(--spacing-4);
  width: 100%;
  max-width: 550px;
}
.productItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--spacing-4);
  margin-bottom: var(--spacing-4);
}

.productItemImage {
  flex-shrink: 0;
}

.productItemImage img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.productItemDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-4);
  justify-content: space-evenly;
  font-size: 30px;
}

.totalPriceContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: var(--spacing-8);
}

.totalPrice {
  font-size: 40px;
  text-decoration: underline;
}
.cartFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-4);
}

@media screen and (max-width: 500px) {
  .productItem {
    flex-direction: column;
    gap: var(--spacing-2);
  }
  .productItemDetails {
    font-size: 20px;
  }
  .productItemImage img {
    width: 100px;
    height: 100px;
  }
  .totalPriceContainer {
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-2);
  }
  .totalPrice {
    font-size: 22px;
  }
}
