.heroContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-shadow: 1px 1px 2px #000000;
}

.productHeader {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.productSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  gap: 10px;
  padding-top: var(--spacing-8);
}
.productContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; /* Adjust the gap as needed */
}

@media (max-width: 600px) {
  .productContainer {
    grid-template-columns: 1fr; /* One column on small screens */
  }
}
