.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  color: #fff;
  position: relative;
}

.headerList {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 4rem;
  width: 100%;
}

.headerItem {
  font-size: 1.5rem;
  font-weight: 500;
}

.searchBar {
  display: flex;
  position: relative;
  align-items: center;
  flex-grow: 1;
  border-radius: 10px 0 0 10px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

@media (max-width: 992px) {
  .headerNav,
  .headerList {
    width: auto;
  }
  .headerList {
    gap: 1rem;
  }
}

@media screen and (max-width: 780px) {
  .headerNav {
    justify-content: space-around;
    gap: var(--spacing-8);
  }

  .hamburger {
    display: block;
    font-size: 30px;
    color: #fff;
    background-color: var(--secondary);
  }

  .headerList {
    position: absolute;
    top: 100%;
    left: -100px;
    flex-direction: column-reverse;
    width: 100%;
    min-width: 280px;
    padding: 1rem;
    display: none;
    background: var(--secondary);
  }

  .headerList.menuOpen {
    display: flex;
  }

  .headerItem,
  .searchBar {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-right: 40px;
  }
}

@media screen and (max-width: 429px) {
  .headerList {
    left: -200px;
  }
}
