.headerNav {
  display: flex;
  align-items: center;
  width: 100%;
}

.headerList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.searchBar {
  display: flex;
  position: relative;
  align-items: center;
  flex-grow: 1;
}

@media (min-width: 992px) {
  .headerNav,
  .headerList {
    width: auto;
  }
  .headerList {
    gap: 1rem;
  }
}
