.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  color: #fff;
}

.headerList {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 8rem;
  width: 100%;
}

.searchBar {
  display: flex;
  position: relative;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 992px) {
  .headerNav,
  .headerList {
    width: auto;
  }
  .headerList {
    gap: 1rem;
  }
}

@media screen and (max-width: 780px) {
  .headerList {
    flex-direction: column;
  }
}
