.searchForm {
  border-radius: 10px;
  height: 40px;
  display: flex;
  background-color: #eee;
  width: 100%;
  max-width: 250px;
}

.searchButton {
  border: 0;
  height: 100%;
  color: black;
}

.searchInput {
  padding-left: 10px;
  font-style: italic;
}

.searchInput:focus,
.searchInput:hover {
  outline: none;
}

.searchButton {
  display: flex;
  background: var(--primary);
  border-radius: 0 5px 5px 0;
  align-items: center;
  padding: 0 10px;
}

.searchSuggestion {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.suggestionItem {
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: black;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: cadetblue;
}
