.searchForm {
  position: relative;
  height: 50px;
  display: flex;
  width: 100%;
  max-width: 300px;
}

.searchButton {
  border: 0;
  height: 100%;
  color: black;
  border-color: var(--primary);
  font-size: larger;
}

.searchInput {
  padding-left: 10px;
  font-style: italic;
  border: none;
  border-radius: 5px 0 0 5px;
}

.searchInput:focus,
.searchInput:hover {
  outline: none;
}

.searchButton {
  display: flex;
  background: var(--primary);
  border-radius: 0 5px 5px 0;
  align-items: center;
  padding: 0 10px;
  color: var(--background);
}

.searchSuggestion {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.suggestionItem {
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: black;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: cadetblue;
}

@media (max-width: 756px) {
  .searchForm {
    max-width: 200px;
    margin-top: 5px;
  }
  .searchSuggestion {
    max-width: 200px;
    display: flex;
    justify-content: center;
  }
}

.searchLabel {
  display: none;
}
