footer {
  width: 100%;
  display: flex;
  padding: var(--spacing-8) 5rem;
  justify-content: space-around;
  /* background-color: pink; */
}

.logo {
  height: 75px;
  width: 100px;
}

.footerText,
.navigationContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.footerText {
  max-width: 800px;
}
