footer {
  width: 100%;
  display: flex;
  padding: var(--spacing-8);
  justify-content: space-around;
  flex-direction: row;
  border-top: 2px solid black;
  margin-top: var(--spacing-8);
}

.footerTextContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.logo {
  height: 10rem;
  width: 10rem;
  border-radius: 10px;
}

.footerText,
.navigationContainer {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-6);
}

.footerText {
  max-width: 800px;
}

.themeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-6);
  gap: var(--spacing-4);
}

@media (max-width: 768px) {
  .footerText {
    text-align: center;
  }
  .logo {
    height: 8rem;
    width: 8rem;
  }
}

@media (max-width: 1050px) {
  .footerText {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}
